.metadata
RemoteSystemsTempFiles
vars.ini
FlexZone_dev/FlexZoneApp/.launches/*
FlexZone_dev/FlexZoneApp/.config/*
FlexZone_dev/FlexZoneApp/Debug/*
FlexZone_dev/FlexZoneApp/Release/*
FlexZone_dev/FlexZoneApp/.xdchelp
FlexZone_dev/FlexZoneStack/.launches/*
FlexZone_dev/FlexZoneStack/.config/*
FlexZone_dev/FlexZoneStack/Debug/*
FlexZone_dev/FlexZoneStack/Release/*
FlexZone_dev/FlexZoneStack/.xdchelp
FlexZone_dev/TestApp/.launches/*
FlexZone_dev/TestApp/.config/*
FlexZone_dev/TestApp/Debug/*
FlexZone_dev/TestApp/Release/*
FlexZone_dev/TestApp/.xdchelp
FlexZone_dev/vars_ble2.2.ini
FlexZone_pcb/FlexZoneApp/.launches/*
FlexZone_pcb/FlexZoneApp/.config/*
FlexZone_pcb/FlexZoneApp/Debug/*
FlexZone_pcb/FlexZoneApp/Release/*
FlexZone_pcb/FlexZoneApp/.xdchelp
FlexZone_pcb/FlexZoneStack/.launches/*
FlexZone_pcb/FlexZoneStack/.config/*
FlexZone_pcb/FlexZoneStack/Debug/*
FlexZone_pcb/FlexZoneStack/Release/*
FlexZone_pcb/FlexZoneStack/.xdchelp
FlexZone_dev/FlexZoneApp/.launches/*
FlexZone_dev/FlexZoneApp/.config/*
FlexZone_dev/FlexZoneApp/Debug/*
FlexZone_dev/FlexZoneApp/Release/*
FlexZone_dev/FlexZoneApp/.xdchelp
FlexZone_dev/FlexZoneStack/.launches/*
FlexZone_dev/FlexZoneStack/.config/*
FlexZone_dev/FlexZoneStack/Debug/*
FlexZone_dev/FlexZoneStack/Release/*
FlexZone_dev/FlexZoneStack/.xdchelp

FlexZone_dev/TestApp/empty.c
FlexZone_dev/FlexZoneApp/Application/accelerometer.c
FlexZone_dev/TestApp/empty.c